.main-container {
  width: 100%;
  height: 100%;
  background: #ebedf76e;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/background-image.jpg');
  background-size: cover;
  background-position: center;
}

/* Base styles for the header-container */
.header-container {
  display: flex;
  padding: 4%;
  margin-top: 4%;
  justify-content: flex-start;
  margin-bottom: auto;
  /* align-items: center; */
}

.logo {
  width: 100px;
}

.header-container .logo {
  position: relative;
  /* bottom: 220px;
  right: 390px; */
}

/* Styles for Typography (h1) element */
.header-container h1 {
  color: #3ec0b5;
  text-align: center;
  position: relative;
  /* bottom: 270px;
  right: 250px; */
}

/* Styles for img element */
.header-container img {
  position: relative;
  /* bottom: 250px;
  right: 475px;
  width: 155px;
  height: 40px; */
}

/* @media screen and (max-width: 1439px) {

  .header-container .logo {
    position: relative;
    bottom: 120px;
    right: 290px;
  }

  .header-container h1 {
    bottom: 175px;
    right: 175px;
  }

  .header-container img {
    bottom: 125px;

    right: 310px;

    width: 120px;

    height: 35px;
  }
} */

.card-container {
  width: 100%;

  max-width: 400px;

}

.main-container .container {
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e9ecef;
  width: 65%;
  height: calc(100% - 100px);
}

.login-form {
  width: 130%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  min-height: 330px;
  right: 125px;
  position: relative;
  padding-top: 60px;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 15px;
}

.login-form label {
  display: block;
  color: #495057;
  text-align: left;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #2596be;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
}

button:hover {
  background-color: #0056b3;
}