.formContainer {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.form {
  margin-top: 2px;
  padding-left: 10px;
}

.textFieldAgency {
  margin-bottom: 16px;
  width: 100%;
  padding: 5px
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.submitButton {
  font-size: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .formContainer {
    margin-top: 8%;
  }

}