.formContainer {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.imageContainer img {
    width: 500px;
    height: 300px;
}

.form {
    padding-left: 30px;
}

.textFieldUser {
    width: 100%;
    padding: 5px;
}

.formControlLabel {
    padding: 5px;
}

.formControlLabel .MuiTypography-root {
    font-size: 20px;
}

.submitButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.submitButton {
    font-size: 1.2rem;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .imageContainer img {
        width: 300px;
        /* Width for screens smaller than 768px */
    }
}